@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  scroll-behavior: smooth;
}

html {
  --roboto: "Roboto", sans-serif;
  --roboto-condensed: "Roboto Condensed", "Arial Narrow", sans-serif;
  --roboto-mono: "Roboto Mono", monospace;

  --primary: #c49654dd;
  --secondary: #9cdda8dd;
  --acent: #6fcec0dd;
  --tom-1: #f6EEE4;
  --tom-2: #0B0704;
  --tom-2-50: #0b070480;
  --tom-2-20: #0b070433;

  --shadow: 0 0 10rem 2.5rem var(--tom-2-20);
  --drop-shadow: 0 10rem 10rem var(--tom-2-20);

  font-size: 1px;
  font-family: var(--roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tom-1);
}

@media screen and (max-width: 425px) {
  html {
    font-size: .23529411vw;
  }
}

body {
  font-size: 16rem;
}

h1 {
  font-size: 45rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30rem;
  }
}

a {
  text-decoration: none;
  color: var(--tom-1);
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

hr {
  border: 1px solid var(--tom-2-50);
}

button,
.button {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.text-gradient {
  width: fit-content;
  color: transparent;
  background: linear-gradient(90deg, var(--primary), var(--acent));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.text-small {
  font-size: .9em;
}