@use '../scss/variables.scss' as *;

.HomePage {
  display: flex;
  flex-direction: column;
  gap: 40rem;

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40rem 96rem 16rem;
    display: flex;
    justify-content: space-between;
    transition: padding .3s ease, background .3s ease;

    // &.minor {
    padding: 16rem 96rem;
    background: $tom-escuro;
    color: $tom-claro;
    // }

    .title {
      display: flex;
      align-items: center;
      gap: 16rem;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 16rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40rem;

    #conhecame {
      width: 100%;
      height: fit-content;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40rem;
    }
  }

  footer {
    background: $tom-escuro;
    color: $tom-claro;
    padding: 16rem 96rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40rem;

    .item {
      display: flex;
      align-items: center;
      gap: 8rem;
      padding: 8rem;

      svg {
        font-size: 16rem;
      }
    }

    .sections {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32rem;

      section {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 16rem;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .HomePage {
    header {
      // &.minor {
      background: black;
      // }
    }

    footer {
      background: black;
    }
  }
}

@media (max-width: 800px) {
  .HomePage {
    header {
      padding: 16rem 32rem;

      nav {
        display: none !important;
      }
    }

    footer {
      padding: 16rem;
    }
  }
}