.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--tom-2);

  main {
    width: calc(100% - 200rem);
    padding: 40rem;

    section:first-child {
      gap: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header {
        h1 {
          font-family: var(--roboto-condensed);

          span {
            font-family: var(--roboto);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .HomePage {
    main {
      padding: 40rem 0;
      width: 100%;
    }
  }
}