@use './font.scss' as *;
@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline-color: $primary-50;
  color: inherit;
}

::selection {
  background: $primary;
  color: $tom-claro;
}

body {
  color: $tom-escuro;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease;

  &:hover {
    color: $primary;
  }
}

img {
  user-select: none;
}

svg {
  font-size: 32rem;
}

button {
  border: none;
  display: flex;
  cursor: pointer;
  background: none;
  transition: color .3s ease;

  &:hover {
    color: $primary;
  }

  &.button {
    background: $gradient;
    color: $tom-claro;
    padding: 16rem;
    border-radius: 16rem;
  }
}

.text-gradient {
  background: $gradient;
  color: transparent;
  background-clip: text;
}

hr {
  border: 1px solid $primary;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $tom-escuro;
    color: $tom-claro;
  }
}