:root {
  --primary: #732EDB;
  --primary-20: #732EDB33;
  --primary-50: #732EDB80;

  --secondary: #360089;
  --secondary-20: #36008933;
  --secondary-50: #36008980;

  --accent: #DCD507;

  --tom-claro: #EEE3FF;
  --tom-claro-50: #EEE3FF80;
  --tom-claro-20: #EEE3FF33;

  --tom-escuro: #0A0018;
  --tom-escuro-50: #0A001880;
  --tom-escuro-20: #0A001833;

  --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
}

@media (prefers-color-scheme: dark) {
  :root {
    --tom-escuro: #121216;
  }
}

$primary: var(--primary);
$primary-20: var(--primary-20);
$primary-50: var(--primary-50);

$secondary: var(--secondary);
$secondary-20: var(--secondary-20);
$secondary-50: var(--secondary-50);

$accent: var(--accent);

$tom-claro: var(--tom-claro);
$tom-claro-50: var(--tom-claro-50);
$tom-claro-20: var(--tom-claro-20);

$tom-escuro: var(--tom-escuro);
$tom-escuro-50: var(--tom-escuro-50);
$tom-escuro-20: var(--tom-escuro-20);

$gradient: var(--gradient);